<%= form_for(@friend_list) do |f| %>
  <% if @friend_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend_list.errors.count, "error") %> prohibited this friend_list from being saved:</h2>

      <ul>
      <% @friend_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Idfriend %><br />
    <%= f.text_field :Idfriend %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
