
<br />

<%= form_for(@user, :url => "validate_access") do |f| %>
  <div class="field">
    <%= f.label("Email") %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label("Password") %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>

<%= link_to 'Register', new_user_path %>